<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="Sergey Pozhilov (GetTemplate.com)" name="author"/>
  <title>
   Sign up - Progressus Bootstrap template
  </title>
  <link href='{{ url_for("static", filename="assets/images/gt_favicon.png") }}' rel="shortcut icon"/>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" media="screen" rel="stylesheet"/>
  <link href='{{ url_for("static", filename="assets/css/bootstrap.min.css") }}' rel="stylesheet"/>
  <link href='{{ url_for("static", filename="assets/css/font-awesome.min.css") }}' rel="stylesheet"/>
  <!-- Custom styles for our template -->
  <link href='{{ url_for("static", filename="assets/css/bootstrap-theme.css") }}' media="screen" rel="stylesheet"/>
  <link href='{{ url_for("static", filename="assets/css/main.css") }}' rel="stylesheet"/>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
 </head>
 <body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top headroom">
   <div class="container">
    <div class="navbar-header">
     <!-- Button for smallest screens -->
     <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
     </button>
     <a class="navbar-brand" href="index.html">
      <img alt="Progressus HTML5 template" src='{{ url_for("static", filename="assets/images/logo.png") }}'/>
     </a>
    </div>
    <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav pull-right">
      <li>
       <a href="index.html">
        Home
       </a>
      </li>
      <li>
       <a href="about.html">
        About
       </a>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        More Pages
        <b class="caret">
        </b>
       </a>
       <ul class="dropdown-menu">
        <li>
         <a href="sidebar-left.html">
          Left Sidebar
         </a>
        </li>
        <li>
         <a href="sidebar-right.html">
          Right Sidebar
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="contact.html">
        Contact
       </a>
      </li>
      <li class="active">
       <a class="btn" href="signin.html">
        SIGN IN / SIGN UP
       </a>
      </li>
     </ul>
    </div>
    <!--/.nav-collapse -->
   </div>
  </div>
  <!-- /.navbar -->
  <header class="secondary" id="head">
  </header>
  <!-- container -->
  <div class="container">
   <ol class="breadcrumb">
    <li>
     <a href="index.html">
      Home
     </a>
    </li>
    <li class="active">
     Registration
    </li>
   </ol>
   <div class="row">
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
     <header class="page-header">
      <h1 class="page-title">
       Registration
      </h1>
     </header>
     <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
       <div class="panel-body">
        <h3 class="thin text-center">
         Register a new account
        </h3>
        <p class="text-center text-muted">
         Lorem ipsum dolor sit amet,
         <a href="signin.html">
          Login
         </a>
         adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio.
        </p>
        <hr/>
        <form>
         <div class="top-margin">
          <label>
           First Name
          </label>
          <input class="form-control" type="text"/>
         </div>
         <div class="top-margin">
          <label>
           Last Name
          </label>
          <input class="form-control" type="text"/>
         </div>
         <div class="top-margin">
          <label>
           Email Address
           <span class="text-danger">
            *
           </span>
          </label>
          <input class="form-control" type="text"/>
         </div>
         <div class="row top-margin">
          <div class="col-sm-6">
           <label>
            Password
            <span class="text-danger">
             *
            </span>
           </label>
           <input class="form-control" type="text"/>
          </div>
          <div class="col-sm-6">
           <label>
            Confirm Password
            <span class="text-danger">
             *
            </span>
           </label>
           <input class="form-control" type="text"/>
          </div>
         </div>
         <hr/>
         <div class="row">
          <div class="col-lg-8">
           <label class="checkbox">
            <input type="checkbox"/>
            I've read the
            <a href="page_terms.html">
             Terms and Conditions
            </a>
           </label>
          </div>
          <div class="col-lg-4 text-right">
           <button class="btn btn-action" type="submit">
            Register
           </button>
          </div>
         </div>
        </form>
       </div>
      </div>
     </div>
    </article>
    <!-- /Article -->
   </div>
  </div>
  <!-- /container -->
  <footer class="top-space" id="footer">
   <div class="footer1">
    <div class="container">
     <div class="row">
      <div class="col-md-3 widget">
       <h3 class="widget-title">
        Contact
       </h3>
       <div class="widget-body">
        <p>
         +234 23 9873237
         <br/>
         <a href="mailto:#">
          some.email@somewhere.com
         </a>
         <br/>
         <br/>
         234 Hidden Pond Road, Ashland City, TN 37015
        </p>
       </div>
      </div>
      <div class="col-md-3 widget">
       <h3 class="widget-title">
        Follow me
       </h3>
       <div class="widget-body">
        <p class="follow-me-icons clearfix">
         <a href="">
          <i class="fa fa-twitter fa-2">
          </i>
         </a>
         <a href="">
          <i class="fa fa-dribbble fa-2">
          </i>
         </a>
         <a href="">
          <i class="fa fa-github fa-2">
          </i>
         </a>
         <a href="">
          <i class="fa fa-facebook fa-2">
          </i>
         </a>
        </p>
       </div>
      </div>
      <div class="col-md-6 widget">
       <h3 class="widget-title">
        Text widget
       </h3>
       <div class="widget-body">
        <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?
        </p>
        <p>
         Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.
        </p>
       </div>
      </div>
     </div>
     <!-- /row of widgets -->
    </div>
   </div>
   <div class="footer2">
    <div class="container">
     <div class="row">
      <div class="col-md-6 widget">
       <div class="widget-body">
        <p class="simplenav">
         <a href="#">
          Home
         </a>
         |
         <a href="about.html">
          About
         </a>
         |
         <a href="sidebar-right.html">
          Sidebar
         </a>
         |
         <a href="contact.html">
          Contact
         </a>
         |
         <b>
          <a href="signup.html">
           Sign up
          </a>
         </b>
        </p>
       </div>
      </div>
      <div class="col-md-6 widget">
       <div class="widget-body">
        <p class="text-right">
         Copyright © 2014, Your name. Designed by
         <a href="http://gettemplate.com/" rel="designer">
          gettemplate
         </a>
        </p>
       </div>
      </div>
     </div>
     <!-- /row of widgets -->
    </div>
   </div>
  </footer>
  <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
  </script>
  <script src='{{ url_for("static", filename="assets/js/headroom.min.js") }}'>
  </script>
  <script src='{{ url_for("static", filename="assets/js/jQuery.headroom.min.js") }}'>
  </script>
  <script src='{{ url_for("static", filename="assets/js/template.js") }}'>
  </script>
 </body>
</html>